.searchPage__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 100;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 30px;
  border-bottom: 1px solid lightgray;
}

.searchPage__header .searchPage__logo {
  -o-object-fit: contain;
     object-fit: contain;
  height: 50px;
  margin-right: 50px;
}

.searchPage__header .searchPage__headerBody > .search > .search__input {
  margin-top: 0;
  margin: unset;
  width: unset;
  max-width: 711px;
}

.searchPage__header .searchPage__options a, .searchPage__header .searchPage__optionsRight a {
  text-decoration: none;
  color: gray;
}

.searchPage__header .searchPage__options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: grey;
}

.searchPage__header .searchPage__options .searchPage__optionsRight {
  margin-left: 80px;
}

.searchPage__header .searchPage__options .searchPage__optionsRight, .searchPage__header .searchPage__options .searchPage__optionsLeft {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.searchPage__header .searchPage__options .searchPage__option a {
  margin-left: 5px;
}

.searchPage__header .searchPage__options .searchPage__option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 20px;
}

.searchPage__results {
  max-width: 650px;
  margin-top: 0px;
  margin-left: 240px;
  margin-right: 28px;
  margin-bottom: 100px;
}

.searchPage__results .searchPage__resultCount {
  color: #70757a;
  font-size: 14px;
}

.searchPage__results .searchPage__result {
  margin: 40px 0;
}

.searchPage__results .searchPage__result .searchPage__resultTitle > h2 {
  margin-top: 5px;
  font-weight: 500;
}

.searchPage__results .searchPage__result .searchPage__resultTitle {
  text-decoration: none;
}

.searchPage__results .searchPage__result .searchPage__resultTitle:hover {
  text-decoration: underline;
}

.searchPage__results .searchPage__result .searchPage__resultSnippet {
  margin-top: -20px;
}

@media (max-width: 1011px) {
  .searchPage__results {
    margin-left: 35px;
  }
}

@media (max-width: 1011px) {
  .searchPage__headerBody > .search {
    width: 510px;
  }
  .searchPage__options {
    position: absolute;
    margin-bottom: 15px;
    left: 35px;
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  .searchPage__headerBody > .search {
    width: 420px;
  }
  .searchPage__optionsRight {
    position: absolute;
    right: -18vw;
    font-size: 14px;
  }
}

@media (max-width: 668px) {
  .searchPage__optionsRight {
    position: -webkit-sticky;
    position: sticky;
  }
}
/*# sourceMappingURL=SearchPage.css.map */